<section class="top_page vh-100 d-flex allin-items-center">
<div class="container">
  <div class="row">
      <div class="title col-md-8">
          <h1>Naganocake</h1>
          <h2>NaganoCakeは、ケーキ販売のECサイトです。<br>会員でない方も商品の閲覧は可能ですが、<br>購入には会員登録が必要になります。</h2>
      </div>
  </div>
</div>
</section>

<section class="topic bg-light" id="topic" style="max-height: 400px; overflow: hidden;">
 <div class="container mt-5" id="container">
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <h3><strong>新着商品</strong></h3>
        <div class="row mt-4">
          <ul class="slider">
            <% @new_items.each do |item| %>
            <li class="slide fade">
              <%= link_to item_path(item) do %>
                <p class="caption mx-2"><%= image_tag item.image, format: 'jpeg', size: '300x200' %></p>
              <% end %>
              <p class="caption"><%= item.name %></p>
              <p class="caption">¥<%= item.with_tax_price.to_s(:delimited) %></p>
            </li>
            <% end %>
          </ul>
        </div>
        <p class="text-center mt-5">
          <%= link_to 'すべての商品を見る', items_path, class: "link" %>
        </p>
      </div>
    </div>
  </div>
</div>
</section>


<section class="about vh-100" id="about">
    <div class="row">
        <div class="about-info col-md-9">
            <h2>About</h2>
            <h3>Nagano Cakeは全国発送可能なケーキ屋さんです。<br>お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションを用意しております。<br>また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。ぜひご注文ください。</h3>
        </div>
    </div>

</section>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    const slides = document.querySelectorAll(".slide.fade");
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.opacity = "0";
    }
    slides[slideIndex - 1].style.opacity = "1";
    setTimeout(showSlides, 6000);
  }
</script>
