<div class="container mt-5 cake-font">
  <h2 class="text-center elegant-header">注文情報入力</h2>

  <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true, class: "form mt-4" do |f| %>

    <div class="mb-4">
      <h4 class="elegant-header-no-underline">支払い方法</h4>
      <div class="form-check ml-3 mb-3">
        <%= f.radio_button :payment_method, "credit_card", class: "form-check-input", id: "payment_method_credit_card" %>
        <%= f.label :payment_method_credit_card, "クレジットカード", class: "form-check-label" %>
      </div>
      <div class="form-check ml-3">
        <%= f.radio_button :payment_method, "transfer", class: "form-check-input", id: "payment_method_transfer" %>
        <%= f.label :payment_method_transfer, "銀行振込", class: "form-check-label" %>
      </div>
    </div>

    <div class="mb-4">
      <h4 class="elegant-header-no-underline">お届け先</h4>
      <div class="form-check mb-3">
        <%= radio_button_tag :select_address, 0, class: "form-check-input", id: "select_address_self" %>
        <%= label_tag :select_address_self, "自身の住所", class: "form-check-label" %>
      </div>
      <p class="mt-2 elegant-text">
        〒<%= current_customer.post_code %> <%= current_customer.address %><br>
        <%= current_customer.full_name %>
      </p>
      <h4 class="mt-4 elegant-header-no-underline">登録済み住所</h4>
      <div class="form-check mb-3">
        <%= radio_button_tag :select_address, 1, class: "form-check-input", id: "select_address_registered" %>
        <%= label_tag :select_address_registered, "登録済みの住所", class: "form-check-label" %>
      </div>
      <p class="mt-2"><%= select_tag :address_id, options_from_collection_for_select(@addresses, :id, :full_address), class: "form-select elegant-select" %></p>

      <h4 class="mt-4 elegant-header-no-underline">新しいお届け先</h4>
      <div class="form-check mb-3">
        <%= radio_button_tag :select_address, 2, class: "form-check-input", id: "select_address_new" %>
        <%= label_tag :select_address_new, "新しい住所", class: "form-check-label" %>
      </div>
      <table class="mt-2 elegant-table">
        <tr>
          <td>郵便番号(ハイフン無し)</td>
          <td><%= f.text_field :post_code, class: "form-control" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, class: "form-control", size: "60" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
      </table>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "確認画面へ進む", class: "btn cake-btn" %>
    </div>
  <% end %>
</div>
