<div class="container">
  <h2>注文履歴詳細</h2>

  <h4>注文情報</h4>
  <table class="table">
    <tbody>
      <tr>
        <td>購入者</td>
        <td><%= @order.customer.full_name %></td>
      </tr>
      <tr>
        <td>注文日</td>
        <td><%= l @order.created_at %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td><%= "#{@order.post_code} #{@order.address} #{@order.name}" %></td>
      </tr>
      <tr>
        <td>支払い方法</td>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <td>注文ステータス</td>
        <td><%= t("enums.order.order_status.#{@order.status}") %></td>
      </tr>
    </tbody>
  </table>

  <h4>請求情報</h4>
  <table class="table">
    <tbody>
      <tr>
        <td>商品合計</td>
        <td></td>
        <td></td>
        <td><%= @order_items.sum { |oi| oi.tax_price * oi.quantity } %>円</td>
      </tr>
      <tr>
        <td>送料</td>
        <td></td>
        <td></td>
        <td>800円</td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td></td>
        <td></td>
        <td><%= @order.total_amount%>円</td>
      </tr>
    </tbody>
  </table>

  <h4>注文内容</h4>
  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.item.with_tax_price %>円</td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.tax_price * order_item.quantity %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>