<div class="container">
  <div class="row mt-5">
    <div class="col-md-2">
      <%= render "genre", genre: @genres %>
    </div>

    <div class="col-md-10">
      <h2 class="font-weight-normal mt-3">商品一覧(全)<%= @items_all.count %>件</h2>
      <div class="row justify-content-center">
        <% @items.each do |item| %>
          <div class="one-post">
            <%= link_to item_path(item) do %>
              <p class="caption mx-2 mt-5"><%= image_tag item.image, format: "jpeg", size: "300x200" %></p>
            <% end %>
            <p class="caption"><%= item.name %></p>
            <p class="caption">¥<%= item.with_tax_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @items %>
</div>
