<header class="sticky-top">
  <div id="mainNavigation">
    <nav role="navigation">
      <div class="py-3 text-center border-bottom">
        <img src="<%= asset_path('logo2.png') %>" alt="" class="invert" width="250" height="200">
      </div>
    </nav>
    <div class="navbar-expand-md">
      <div class="navbar-dark text-center my-2">
        <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>
      </div>
      <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link active", "aria-current" => "page" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "items", items_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cart", cart_items_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Page", customers_mypage_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </li>
          <!-- 管理者がログインしている場合のリンク -->
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "Items", admin_items_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Customers", admin_customers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Order History", admin_orders_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Genre List", admin_genres_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out",destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>

            <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Items", items_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_customer_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_customer_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
